{% extends 'layout.html' %}
{% block content %}
<script type="text/javascript">
$(document).ready(function() {
    var socket = io.connect('http://127.0.0.1:5000');

    $("#postbutton").click(function() {
        socket.emit("new");
    });

    socket.on('received', function(data){
        data = data['data']
        arr = data.split(';')
        self = arr[0]
        other = arr[1]

        if ('{{ username }}' == self) {
          alert(other + ' sent you a message, go to the Users tab to respond!')
        }
    })

});

</script>

<h1>Create Post</h1>

<form action='/'>
    <textarea name="post" rows= "4"placeholder="Enter Your Post Here..." maxlength="500" style="resize: none;width:75%" required></textarea></br>
    <input type="submit" value ="Share" id="postbutton">
</form>
{% endblock content %}
