<head>

</head>
<body>
    <form id="create">
        <div>
            <label for="username">Username:</label>
            <input id="username" type="text" name="username" value="">
        </div>
        <div>
            <label for="password1">Password:</label>
            <input id="password1" type="text" name="password1" value="">
        </div>
        <div>
            <label for="password2">Re-enter your Password:</label>
            <input id="password2" type="text" name="password2" value="">
        </div>
        <button type="submit">Create Account</button>
    </form>

</body>
